header {
    min-height: 80px;
    background-color: brown;
}

nav {
    background-color: #efe5d0;
    margin: 10px 10px 0px 10px;
}

nav ul {
    margin: 0px;
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}

nav ul li {
    display: inline;
    padding: 5px 10px 5px 10px;
}

section{
    background-color: red;
    min-height: 320px;
    width: 480px;
    float: left;
}

aside {
    min-height: 320px;
    background: black;
    margin-left: 480px;
}

footer {
    background-color: #675c47;
    text-align: center;
    min-height: 80px;
    clear: left;
}