.IL-div {
  padding: 0px 16px 0px 16px; }

header {
  background-color: #efefef;
  font-size: 24px;
  border: 1px solid transparent; }

.navbar-custom {
  margin-bottom: 0px; }

.Actived {
  color: #fbff05; }

.navbar-bottom {
  margin-bottom: 0px;
  border-radius: 0px; }

section {
  background-color: white;
  min-height: 480px; }

footer {
  background-color: #efefef;
  text-align: center;
  height: 32px; }
