.Other-nav {
  background-color: lightgray;
  float: left;
  width: 20%;
  min-height: 480px;
  height: auto;
}

.Other-section {
  margin-left: 20%;
  min-height: 880px;
  background-color: #efe5d0;
}


.Other-actived {
  color: #fbff05;
}